createdAt: "2018-10-02T22:02:20.435Z"
updatedAt: "2018-10-11T18:08:50.728Z"
type: "MARKDOWN_NOTE"
folder: "3a8b178644eb697aa42c"
title: "Query Functions"
content: '''
  Query Functions
  
  ## FROM
  
  * The from clause defines the *tables* used by a query, along with the means of linking the tables together
  * *table* can refer to
  	* Permanent Tables ( created using CREATE TABLE )
  	* Temporary Tables ( rows returned by a subquery)
  	* Virtual Tables ( created using the CREATE VIEW statement)
  
  ## DISTINCT
  Return a set without any duplicates in the named column  in the SELECT statement
  
  SELECT DISTINCT name from tbl;
  
  DISTINCT cannot be used on an individual column as part of a larger query
  ie SELECT name, DISTINCT city;
  does not work to select any name from a single city
  
  However SELECT DISTINCT name, city would remove any duplicates where *both* those columns had the same value
  
  
  
  ## GROUP BY
  * consider the above statement - '...the means of linking them together...'
  	* GROUP BY allows to group the data returned by FROM by column values
  
  
  GROUP BY is functionally similar to DISTINCT when not using any aggregate functions.  GROUP BY is in fact to be used when you want to use aggregate function.s
  
  Because GROUP BY executes after any SELECT...WHERE filtering you must use the HAVING clause if you want your groups to be filtered further
  	* HAVING is to GROUP BY as WHERE is to SELECT
'''
tags: []
isStarred: false
isTrashed: false
