createdAt: "2018-10-04T19:30:27.594Z"
updatedAt: "2018-10-11T17:56:02.418Z"
type: "MARKDOWN_NOTE"
folder: "3a8b178644eb697aa42c"
title: "Queries - JOIN"
content: '''
  Queries - JOIN
  
  Join multiplies two tables together
  
  ON is like WHERE for JOIN
'''
tags: []
isStarred: false
isTrashed: false
