createdAt: "2018-08-22T18:33:00.570Z"
updatedAt: "2018-08-22T18:42:54.967Z"
type: "SNIPPET_NOTE"
folder: "af97e723304263899fd2"
title: "Express.js Basics"
description: "Express.js Basics"
snippets: [
  {
    name: "Express.js"
    mode: "JavaScript"
    content: '''
      Express Basics
      
      import express from 'express';
      
      const app = express();
      
      app.get('/', (req, res) => res.send('HTTP OK'));
      
      export default app;
    '''
  }
  {
    name: ""
    mode: "Plain Text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
