createdAt: "2018-09-04T18:20:43.785Z"
updatedAt: "2018-09-04T18:23:50.852Z"
type: "MARKDOWN_NOTE"
folder: "f9ef1d1b9b39aa6dcae2"
title: "Model"
content: '''
  # Model
  
  create a model using the `model` function defined under the `mongoose` api object
  
  **UserModel.js**
  
  ```js
  let model = mongoose.model('User', UserSchema);
  export default model
  ```
  
  ##### Methods
  
  import user from './UserModel'
  
  user.find
  
  
'''
tags: []
isStarred: false
isTrashed: false
