createdAt: "2019-03-04T19:06:45.323Z"
updatedAt: "2019-03-04T19:06:45.323Z"
type: "MARKDOWN_NOTE"
folder: "cc11b1a015188b133274"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
